* {
  box-sizing: border-box;
}
body {
  max-width: 100%;
  height: 100%;
}

.header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;
  background-color: #000000;
}

.header__wrapper {
  display: flex;
  justify-content: space-between;
  padding-top: 26px;
  padding-bottom: 26px;
  align-items: center;
}

.header__logo {
  margin-right: 15px;
}

.header__nav {
  margin-left: 15px;
  width: 500px;
}
.header__links {
  display: flex;
  justify-content: space-between;
}

.header-links__link {
  text-decoration: none;
  opacity: 0.7;
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: 600;
}

.header-links__link:hover {
  color: white;
  opacity: 1;
}

section:first-of-type {
  margin-top: 81px;
}

.fullscreen {
  display: flex;
  width: 100%;
  background-image: url(/img/image@1X.png);
  background-color: rgb(0, 0, 0);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: calc(100vh - 81px); /*Regards to Stas :D */
}

.containerforfullscreen {
  max-width: 1170px;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
}

.fullscreen-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  max-height: 442.8px;
}

.fullscreen__intro {
  max-width: 516px;
  margin-right: 10px;
}

.fullscreen-logo {
  color: #ffffff;
  font-family: 'Raleway';
  font-size: 62px;
  font-weight: 900;
  text-transform: uppercase;
  max-width: 516px;
  line-height: 40px;
  margin-bottom: 33px;
}

.fullscreen-logo__secondpart {
  color: #ff8b38;
  font-weight: 100;
  font-family: 'Raleway';
}

.fullscreen__title {
  color: #ffffff;
  font-size: 36px;
  font-weight: 400;
  font-family: 'Raleway';
  text-transform: uppercase;
  max-width: 516px;
  line-height: 40px;
}

.fullscreen__title::after {
  display: block;
  content: '';
  width: 74px;
  border-bottom: 2px solid white;
  margin-top: 36px;
  margin-bottom: 30px;
}

.fullscreen_text {
  opacity: 0.7;
  color: #ffffff;
  font-family: 'Raleway';
  font-size: 16px;
  font-weight: 400;
  line-height: 23px;
  /* margin-bottom: 44px; */
}

.trial-form {
  margin-left: 10px;
  width: 360px;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.trial-form__header {
  text-align: center;
}

.trial-form__header-text {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-color: #eeeeee;
  color: #333333;
  font-family: 'Open Sans' sans-serif;
  font-size: 20px;
  font-weight: 700;
  padding-top: 18px;
  padding-bottom: 15px;
}

.trial-form__FREE {
  color: #ff8b38;
}

.get-started-btn {
  width: 360px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #ff8b38;
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 600;
  padding: 20px;
  color: #fff;
  border: none;
  outline: none;
  min-height: 61.6px;
}

.get-started-btn:hover {
  background-color: #ff9c56;
  cursor: pointer;
}

.get-started-btn:active {
  font-size: 14px;
}

.trial-form__input {
  background-color: #fff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.user-input {
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
  border: none;
  background-color: #fff;
  border-bottom: 2px solid #eeeeee;
  font-size: 16px;
  margin: auto;
  padding-top: 30px;
  margin-bottom: 16px;
  width: 285px;
  /* margin-left: 15px; */
  padding-left: 15px;
  outline: none;
}

.trial-form__password {
  margin-bottom: 50px;
}

/* input[type='text'],
input[type='password'],
input[type='email'],
textarea,
select {
  border: none;
  background-color: #fff;
  border-bottom: 2px solid #eeeeee;
  font-size: 16px;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 36px;
  transition: all 0.2s ease;
  width: 285px;
  padding-left: 15px;
  outline: none;
} */

input,
textarea::placeholder {
  opacity: 0.6;
  font-size: 14px;
}

.awesome {
  width: 100%;
}

.container {
  margin: auto;
  max-width: 1170px;
  padding: 0 15px;
}

.general-title {
  padding-top: 108px;
  margin-bottom: 30px;
  color: #212121;
  font-family: 'Raleway', sans-serif;
  font-size: 36px;
  font-weight: 400;
  font-style: normal;
  line-height: 43px;
  text-align: center;
  letter-spacing: normal;
}

.general-title::after {
  display: block;
  content: '';
  border-bottom: #ff8b38 solid 2px;
  margin: 30px auto;
  width: 64px;
}

.general-subtitle {
  margin: 32px auto;
  margin-bottom: 80px;
}

.general-subtitle-text {
  text-align: center;
  min-width: 359px;
  color: #86878b;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.awesome-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 -15px 50px;
}

.awesome-item {
  width: 350px;

  margin: 0 15px 50px;
}

.awesome-round-border {
  margin: auto;
  margin-bottom: 29px;
  width: 75px;
  /* border-radius: 4.375rem; */
  border-radius: 4.6875rem;
  border: #ff8b38 solid 2px;
}

.img-left-card {
  margin: 21px 25px 21px 26px;
}

.img-middle-card {
  margin: 24px 18px 25px 18px;
}

.img-right-card {
  margin: 19px 27px 20px 28px;
}

.awesome-card-subtitle {
  margin-bottom: 29px;
  width: 350px;
  color: #333333;
  font-family: 'Open Sans';
  font-size: 20px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: 24px;
  text-align: center;
}

.awesome-card-text {
  width: 350px;
  color: #86878b;
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
}

.stylish {
  max-height: 321.2px;
  width: 100%;
  background-image: url('/img/backgr.png');
  background-color: rgb(0, 0, 0);
  background-size: cover;
}

.stylish__header {
  padding-top: 74px;
}

.stylish__title {
  margin-bottom: 26px;
  color: #ffffff;
  font-family: 'Raleway';
  font-size: 36px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
}

.stylish__title::after {
  display: block;
  content: '';
  border-bottom: 2px solid white;
  margin: 30px auto;

  width: 74px;
}

.stylish__subtitle {
  opacity: 0.5;
  color: #ffffff;
  font-family: 'Raleway';
  font-size: 16px;
  font-weight: 300;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: center;
}

.download__btn {
  display: flex;

  /* min-height: 42px; */
  justify-content: center;

  margin: auto;
  margin-top: 33px;
}

.download-btn__download {
  margin-bottom: 65px;
  /* text-align: center; */
  border: 2px solid white;
  width: 135px;
  line-height: 42px;
  background: none;
  color: #ffffff;
  font-size: 15px;
  font-weight: 600;
  font-family: 'OpenSans-Semibold';
  transition: all 0.5s ease-in-out;
  outline: none;
}

.download-btn__download:hover {
  font-size: 24px;
  font-family: 'Yeon Sung', cursive;
  border-radius: 25px;
  border: 3px solid #ff8b38;

  width: 150px;
  line-height: 50px;
  transform: scale(1.1, 1.1);
  cursor: pointer;
}

.fullscreen__btn {
  margin-top: 44px;

  justify-content: flex-start;
}
.footer {
  width: 100%;
  background-color: rgb(0, 0, 0);
}

.socials {
  margin: auto;
  width: 317px;
  padding-top: 38px;
}

.socials-list {
  display: flex;
  justify-content: space-between;
}

.socials__element {
  font-size: 24px;
}

.footer-text {
  margin: auto;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 124px;
  opacity: 0.5;
  color: #ffffff;
  font-family: 'Open Sans' sans-serif;
  font-size: 12px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}

.pricing {
  width: 100%;

  background-image: url(/img/Pricing_Panel.png);
}

.pricing-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 -15px;
  padding-bottom: 56px;
}

.pricing-cards__item {
  width: 343px;
  margin: 39px 20px 39px;
}

.pricing-cards__item:nth-child(2) {
  margin-top: 0;
  margin-bottom: 0;
}

.pricing-item__title {
  background-image: url(/img/card_price_bg.png);
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  line-height: 50px;
  text-align: center;
}
.pricing-item__price {
  background-image: url(/img/card_price_bg.png);
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}
.actual-price {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  line-height: 100px;
  color: #ffffff;
  font-family: 'Raleway';
  font-size: 94px;
  font-weight: 900;
  width: 155px;
  margin: auto;
}

.dollar {
  font-size: 40px;
  font-weight: 400;
  font-style: normal;
  line-height: 60px;
}
.pricing-item__quote {
  background-image: url(/img/card_price_bg.png);
  color: rgba(161, 161, 161, 0.5);
  text-align: center;
  line-height: 51px;
  font-style: italic;
  font-family: 'Open Sans - Semibold';
  font-size: 14px;
  font-weight: 400;
}

.pricing-item__border {
  border-top: #ff8b38 solid 2.5px;
}

.pricing-popular {
  color: #ffffff;
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: 700;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
  background-color: #ff8b38;
  border-top: 1px solid white;
}

.pricing-item__fact {
  margin-bottom: 1px;
  background-color: white;
  color: #86878b;
  font-size: 14px;
  font-weight: 400;
  line-height: 40px;
  text-align: center;
  text-transform: uppercase;
}

.feedback-cards {
  display: flex;
  justify-content: center;
  margin: auto;
  flex-wrap: wrap;
  margin: 0 0 101px;
}
.feedback-item {
  margin: 0 30px 25px;
  width: 273px;
}
.feedback-item__text {
  background-color: rgb(236, 236, 236);
  opacity: 0.8;
}
.feedback-text {
  padding: 24px 13px 24px 20px;
  width: 248px;
  color: #86878b;
  font-family: 'Open Sans';
  font-size: 14px;
  font-weight: 400;
  font-style: italic;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
}
.triangle {
  opacity: 0.8;
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  position: relative;
  right: -25px;
  border-top: 15px solid rgb(236, 236, 236);
}
.feedback-owner {
  margin-top: 8px;
  display: flex;
  flex-wrap: wrap;
}

.feedback-item__username {
  margin: 17px 15px 8px 15px;
  color: #333333;
  font-family: 'Open Sans' sans-serif;
  font-size: 20px;
  font-weight: 700;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
}

.feedback-item__usertitle {
  margin-left: 15px;
  color: #86878b;
  font-family: 'Open Sans' sans-serif;
  font-size: 14px;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}

.social-media {
  width: 100%;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.38);
}

.social-media__wrapper {
  display: flex;
  justify-content: space-between;
}
.social-media-intro {
  width: 350px;
  text-align: left;
  margin-top: 22px;
}
.social-media-title {
  color: #333333;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 900;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  text-align: left;
  margin-bottom: 10px;
}

.social-media-text {
  text-align: left;
}
.social-media-links {
  width: 634px;
  margin: 29px 0;
}

.social-media__list {
  display: flex;
  justify-content: space-between;
}

.social-media-links__item {
  color: #cccccc;
  font-family: 'Font Awesome';
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
  transition: all 0.5s ease-in;
}

.social-links:hover {
  transform: scale(1.3, 1.3);
  color: #ff8b38;
}

.social-links:active {
  color: #cccccc;
}

.social-links__item {
  font-size: 48px;
  padding: 0 5px;
}

.contact-form {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: 0 0 45px;
}
.customer-input {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 500px;
  margin-right: 35px;
  margin-left: 35px;
}

.contact-input {
  width: 100%;

  /* margin-left: 45px; */
}

.message-input {
  resize: none;
}

.message {
  width: 500px;
  margin-right: 35px;
  margin-left: 35px;
}

.message-input {
  width: 100%;
}

.contact-btn__message {
  margin: 60px auto 43px;
  font-family: 'Open Sans', sans-serif;
  outline: none;
  border: none;

  background-color: #ff8b38;
  color: white;
  font-weight: 600;
  border-radius: 5px;
  padding: 15px 22px;
  transition: transform 0.15s ease;
}

.contact-btn__message:hover {
  background-color: #ff9c56;
  cursor: pointer;
}

.tabs-btn:hover {
  background-color: #ff9c56;
  cursor: pointer;
}
.tabs-btn:active {
  transform: scale(0.97);
}
.contact-btn__message:active {
  transform: scale(0.97);
}

.tabs {
  margin-top: 2px;
  width: 100%;

  background-image: url(/img/Pricing_Panel.png);
}
.tabs-wrapper {
  display: flex;
  justify-content: center;
  padding: 148px 0 114px;
  text-align: justify;
}
.tabs-tabs {
  margin-right: 28px;
}
.tabs-tabs__item {
  width: 112px;
  color: #fff;
  background-color: #333333;
  padding: 50px 35px 50px 36px;
}

.tabs-tabs__item:nth-child(1) {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom: 1.5px solid #989a9e;
}

.tabs-tabs__item:nth-child(2) {
  border-bottom: 1.5px solid #989a9e;
}

.tabs-tabs__item:nth-child(3) {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.tabs-tabs__item-name {
  font-size: 14px;
  font-family: 'Raleway';
  text-transform: uppercase;
  font-weight: 700;
}

.tabs-tabs__item:hover {
  background-color: #ff8b38;

  cursor: pointer;
}

.tabs-tabs__item:active {
  font-size: 6px;
  background-color: #ff9c56;
}

.tabs-info {
  width: 476px;
  margin: 0 103px 0 99px;
}
.tabs-info__title {
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  font-weight: 900;
  font-style: normal;
  letter-spacing: normal;
  line-height: normal;
}
.tabs-info__text {
  margin: 52px 0 51px;
  color: #86878b;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.tabs-btn {
  width: 121px;
  font-family: 'Open Sans', sans-serif;
  outline: none;
  border: none;

  background-color: #ff8b38;
  color: white;
  font-weight: 600;
  border-radius: 5px;
  padding: 15px 22px;
  transition: transform 0.15s ease;
}
.tabs-pic {
  padding-top: 27px;
}

@media (max-width: 900px) {
  .tabs-pic {
    display: none;
  }
}

@media (max-width: 730px) {
  .tabs-wrapper {
    flex-direction: column;
    align-items: center;
    padding: 70px 0 70px;
  }
  .tabs-tabs {
    display: flex;
    margin-bottom: 30px;
    margin-right: 0;
  }
  .tabs-info__title {
    text-align: center;
  }
  .tabs-tabs__item:nth-child(1) {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 0;
    border: none;
    border-right: 1.5px solid #989a9e;
  }
  .tabs-tabs__item:nth-child(3) {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;

    border-bottom-left-radius: 0;
  }
  .tabs-tabs__item:nth-child(2) {
    border: none;
    border-right: 1.5px solid #989a9e;
    border-bottom-left-radius: 0;
  }
  .tabs-info__text {
    margin: 20px 15px 51px;
  }
  .tabs-btn {
    width: 100%;
  }
  .download-btn__download {
    width: 80%;
  }
  .contact-btn {
    width: 100%;
  }
  .contact-btn__message {
    width: 100%;
  }
}

@media (max-width: 1050px) {
  .tabs-pic {
    display: none;
  }

  .fullscreen-logo {
    font-size: 52px;
  }

  .trial-form__header-text {
    font-size: 18px;
  }
  .fullscreen__title {
    font-size: 26px;
    line-height: 30px;
  }
  .fullscreen_text {
    font-size: 14px;
  }
  .fullscreen__intro {
    text-align: center;
  }
  .fullscreen__title::after {
    margin: 36px auto 30px;
  }
  .fullscreen__btn {
    justify-content: center;
  }
  .fullscreen-wrapper {
    flex-direction: column;

    overflow-y: scroll;

    align-items: center;
  }
  .fullscreen-wrapper::-webkit-scrollbar {
    display: none;
  }
  .trial-form__input {
    margin-bottom: 5px;
  }
  .social-links__item {
    font-size: calc(18px + (48 - 18) * ((100vw - 320px) / (1140 - 320)));
  }
  .social-media-title {
    font-size: calc(18px + (23 - 18) * ((100vw - 320px) / (1140 - 320)));
  }
  .social-media__list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .feedback-cards {
    margin-bottom: calc(40px + (101 - 40) * ((100vw - 320px) / (1140 - 320)));
  }
  .general-title {
    font-size: calc(24px + (36 - 24) * ((100vw - 320px) / (1140 - 320)));
    padding-top: calc(50px + (108 - 50) * ((100vw - 320px) / (1140 - 320)));
  }
  .general-subtitle {
    margin-bottom: calc(20px + (80 - 20) * ((100vw - 320px) / (1140 - 320)));
  }
  .stylish__title {
    font-size: calc(24px + (36 - 24) * ((100vw - 320px) / (1140 - 320)));
  }
  .general-subtitle-text {
    font-size: calc(10px + (14 - 10) * ((100vw - 320px) / (1140 - 320)));
  }
  .stylish__subtitle {
    font-size: calc(14px + (14 - 14) * ((100vw - 320px) / (1140 - 320)));
  }
  .awesome-card-subtitle {
    font-size: calc(16px + (20 - 16) * ((100vw - 320px) / (1140 - 320)));
  }
  .awesome-card-text {
    font-size: calc(12px + (14 - 12) * ((100vw - 320px) / (1140 - 320)));
  }
  textarea::placeholder {
    font-size: 12px;
  }
  .feedback-item__username {
    font-size: calc(16px + (20 - 16) * ((100vw - 320px) / (1140 - 320)));
  }
  .feedback-text {
    font-size: calc(12px + (14 - 12) * ((100vw - 320px) / (1140 - 320)));
  }
  input::placeholder {
    font-size: 12px;
  }
  .socials__element {
    font-size: calc(18px + (24 - 18) * ((100vw - 320px) / (1140 - 320)));
  }
}

@media (max-width: 1200px) {
  .customer-input {
    width: calc(280px + (570 - 280) * ((100vw - 320px) / (1140 - 320)));
  }
  .message {
    width: calc(280px + (570 - 280) * ((100vw - 320px) / (1140 - 320)));
  }
  .contact-form {
    flex-direction: column;
    align-items: center;
  }
}
